@media screen and (max-width: 740px) {
  html {
    font-size: 30px;
  }
  .container {
    width: 100%;
    padding: 50px 5px;
  }
  .wrapper {
    min-height: calc(100% - 3rem);
  }

  footer {
    height: 3rem;
    text-align: center;
  }
}

@media screen and (max-width: 520px) {
  html {
    font-size: 26px;
  }
}
